@media screen and (max-width: 768px) {
  .contenedorDeImagenes {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
  }
  .contenedorDeImagenes img {
    height: 500px;
    width: 50vw;
  }
  iframe {
    width: 100%;
    /* margin-top: 45px; */
    display: block;
  }
} /* hasta q la pantalla llegue a 768px*/

@media screen and (min-width: 768px) {
  /* pantalla > 768*/
  .contenedorDeImagenes {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  span {
    text-align: center;
  }

  .contenedorDeImagenes img {
    width: 48vw;
    padding: 5px;
    
  }

  .contenedorIframe {
    align-content: center;
    justify-content: center;
    width: 100vw;
  }

  iframe {
    width: 100vw;
  }
}
