@font-face {
  font-family: "Trajan Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Trajan Pro Regular"),
    url("../fonts/TrajanPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Trajan Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Trajan Pro Bold"),
    url("../fonts/TrajanPro-Bold.woff") format("woff");
}
.subTexto {
  font-family: "Trajan Pro Bold", sans-serif;
  color: rgb(14, 13, 13);
  font-size: 4vh;
  text-align: center;
}
.contenedorContacto {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  margin-bottom: 1em;
}
.imagenContacto {
  position: center;
  height: 15vh;
  width: 100%;
}
.formulario {
  width: 70%;
}
.contenedorFormulario {
  background-color: rgb(205, 191, 174);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}
input {
  border-radius: 4px;
}
.datos {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.checkBox {
  padding-bottom: 1em;
}

.contenedorDelSelect {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 1em;
}

.preguntaDelSelect {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.contenedorDelSubmit {
  margin: 1em;
  display: flex;
  justify-content: center;
}
option {
  text-align: center;
}
.botonSubmit {
  margin-bottom: 10vh;
  padding: 0.5rem 1rem;
  border: 1px solid #2c2c2c;
  display: flex;
  align-items: center;

  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .datos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-gap: 1.5em;
  }
  .email {
    grid-area: 2/1 / span 1 / span 2;
  }
  .contenedorDelSelect {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .select {
    grid-area: 1/2 / span 1 / span 1;
  }
  .preguntaDelSelect {
    text-align: left;
  }
  .imagenContacto {
    height: 35vh;
  }
  .subTexto {
    font-size: 5.5vh;
  }
  .botonSubmit {
    padding: 0.8rem 2rem;
  }
}
