.tituloLibros {
    font-family: "Trajan Pro Bold", sans-serif;
    color: whitesmoke;
    font-size: 5vw;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-shadow: 2px 5px 5px rgb(255, 77, 0);
    -webkit-text-stroke: 0.3px rgba(22, 21, 21, 0.768);
}

.sectionLibros {
    background-color: rgba(0, 0, 0, 0.975);
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
}

.sectionLibros div img {
    padding: 2%;
    width: 380px;
    height: 520px;
    border-radius: 0.8%;
    margin-bottom: 2em;
}

.carouselLibros {
    background-color: rgba(64, 0, 0, 0.737);
    align-items: center;
    align-content: center;
}


/*--------------------------------M.Queries 320px-------------------------------------------------------*/
/*
@media screen and (min-width: 320px) {
    .tituloLibros {
        font-size: 10vw;
        text-align: center;
        padding-top: 1em;
    }
    
    .sectionLibros div {
        padding-top: 1.5%;

        align-items: center;
        align-content: center;
        text-align: center;
    }
    
    .sectionLibros div img {
        width: 140px;
        height: 220px;
    }
}

/*--------------------------------M.Queries 768px-------------------------------------------------------*/
/*
@media screen and (min-width: 768px) {
    .tituloLibros {
        font-size: 8vw;
        text-align: center;
    }
    
    .sectionLibros div img {
        width: 280px;
        height: 460px;
    }
}