
.tituloLibros {
    font-family: "Trajan Pro Bold", sans-serif;
    color: whitesmoke;
    font-size: 5vw;
    text-align: center;
    text-shadow: 2px 5px 5px rgb(6, 6, 6);
    -webkit-text-stroke: 0.3px black;
}

@media screen and (min-width: 768px) {
    .tituloLibros {
        font-size: 3vw;
    }
}

.sectionLibros {
  background-color: rgba(11, 10, 10, 0.701);
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
}

.sliderLibros {
  height: 100%;
  width: 100%;
  background-color: rgba(146, 52, 1, 0.875);
  border-radius: 0.5rem;
  gap: 2.3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding: 2rem;
  margin: 1em;
  padding-left: 2rem;
  padding-right: 2rem;
}

.sliderLibros img {
    width: 280px;
	height: 450px;
    border-radius: 0.8%;
}
