.navbar {
  background-color: #000;
  color: #fff;
  font-size: 2em;
  padding: 1em;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.icono-navbar {
  width: 30px;
  height: auto;
  margin-right: 15px;
  /* Espacio entre el icono y el texto */
}

.navbar-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links ul li {
  margin-right: 20px;
}

.navbar-links ul li:last-child {
  margin-right: 0;
}

.navbar-links ul li a {
  font-family: "Trajan Pro Bold", sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-links ul li a:hover {
  color: #ccc;
}