.tituloPelicula {
    font-family: "Trajan Pro Bold", sans-serif;
    color: whitesmoke;
    font-size: 3vw;
    text-align: center;
    padding-top: 3rem;
    text-shadow: 2px 5px 5px rgba(176, 36, 36, 0.932);
    -webkit-text-stroke: 0.3px rgb(15, 15, 14);
}

.sectionPelicula {
    background-color: rgba(0, 0, 0, 0.975);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
}

.sectionPelicula div {
    padding: 2%;
    gap: 40px;
    align-content: center;
    align-items: center;
    text-align: center;
}

.listaPelicula li {
    align-items: center;
    align-content: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgba(255, 153, 153, 0.92);
    list-style: none;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1vw;
    text-shadow: 2px 5px 5px rgba(128, 0, 0, 0.941);
    -webkit-text-stroke: 0.2px rgba(25, 24, 24, 0.792);
}

.textoPelicula {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(255, 184, 184);
    text-decoration:none;
    text-align: center;
    width: 85vw;
    font-size: 1vw;
}

/*--------------------------------M.Queries 320px-------------------------------------------------------*/
/*
@media screen and (min-width:320px) {
    .tituloPelicula {
       font-size: 10vw;
    }
    
    .sectionPelicula div {
        align-items: center;
        justify-content: center;
    }
    
    .sectionPelicula iframe {
        width: 280px;
        height: 220px; 
    }

    .listaPelicula li {
        list-style: none;
        text-align: center;
        text-decoration: none;
        font-size: 4.8vw;
    }
           
    .textoPelicula {
        font-size: 4vw;
    }
    
}

/*--------------------------------M.Queries 768px-------------------------------------------------------*/
/*
@media screen and (min-width: 768px) {
    .tituloPelicula {
        font-size: 6.5vw;
    }
    
    .listaPelicula li {
        margin:auto;
        padding: 1%;
        font-size: 2.3vw;
    }
    
    .sectionPelicula iframe {
        width: 620px;
        height: 480px;  
    }
           
    .textoPelicula {
        font-size: 2vw;
    }
}