

.tituloSinopsis {
    font-family: "Trajan Pro Bold", sans-serif;
    color: whitesmoke;
    font-size: 4vw;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1em;
    text-shadow: 3px 5px 5px rgb(47, 154, 254);
    -webkit-text-stroke: 0.4px rgb(222, 0, 0);
}

.textoSinopsis {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(164, 211, 255);
    font-size: 1.8vh;
    text-align: center;
    line-height: 1.5;
    font-weight:inherit;
    padding: 2rem;
    text-shadow: 1px 1px 1px 1px rgb(20, 140, 253);
    -webkit-text-stroke: 0.3px rgba(34, 0, 255, 0.965);
}

.sinopsis {
    background-color: rgba(0, 0, 0, 0.975);
    margin-top: 1%;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    display: flex;
    padding: 2%;
    gap: 40px;
}


/*--------------------------------M.Queries 320px-------------------------------------------------------*/
/*
@media screen and (min-width:320px) {
    .tituloSinopsis {
        font-size: 10vw;
    }
    
    .sinopsis {
        display: flex;
        flex-wrap: wrap;
        background-color: rgba(0, 0, 0, 0.975);
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .textoSinopsis {
        text-align: center;
        line-height: 1.5;
        font-weight:inherit;
        margin: 0.1em;
        font-size: 4.4vw;
    }

    .sinopsis iframe {
        width: 280px;
        height: 280px;
    } 
}

/*--------------------------------M.Queries 768px-------------------------------------------------------*/
/*
@media screen and (min-width: 768px) {
    .tituloSinopsis {
        font-size: 7.5vw;
    }
    
    .sinopsis iframe {
        width: 620px;
        height: 480px;  
    }

    .textoSinopsis {
        text-align: center;
        line-height: 1.5;
        font-weight:inherit;
        font-size: 2.1vw;
    }
}